/* -------------------- Wrapper -------------------- */
.page-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #1f1f1f;
}

/* -------------------- Sidebar (left) -------------------- */
.sidebar {
    width: 240px;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 20px 12px;
    border-right: 1px solid #2a2a2a;
    z-index: 20;
}

.sidebar-title{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sidebar-item {
    padding: 10px 14px;
    color: #bbb;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s ease, color 0.2s ease;
}

.sidebar-item:hover {
    background-color: #2a2a2a;
    color: white;
}

.sidebar-item.active {
    background-color: #3a3a3a;
    color: white;
}

/* -------------------- Main area (middle + header) -------------------- */
.main-area {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.page-header {
    flex: 0 0 auto;
    width: 100%;
    background-color: #2a2a2a;
    padding: 20px;
    z-index: 0;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    min-height: 0;
    padding: 20px;
    overflow-y: auto;
}

/* -------------------- Right panel (right) -------------------- */

.right-panel {
    width: 360px;
    background-color: #2f2f2f;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-shrink: 0;
    z-index: 20;
}