.page-content.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    width: 450px;
    height: 600px;
    padding: 42px 36px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.login-form-container h2{
    color: #ddd;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.login-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #3a3a3a;
    color: #ddd;
}

.login-form button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.login-form button:hover {
    background-color: #555;
}

.register-btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.register-btn:hover {
    background-color: #555;
}

.remember-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ccc;
    font-size: 13px;
    cursor: pointer;
}

.remember-me input {
    transform: scale(1.4);
    cursor: pointer;
}

.toast-popup {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(50, 50, 50, 0.95);
    color: #fff;
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
    font-size: 14px;
    z-index: 9999;
    opacity: 0.95;
    transition: opacity 0.3s ease;
}