.empty-state {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fab-upload {
    position: fixed;
    bottom: 30px;
    right: 400px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1f1f1f;
    color: #ffffff;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.fab-upload:hover {
    background-color: #2c2c2c;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
}

.fab-icon {
    display: inline-block;
    line-height: 1;
}