.empty-state {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.fab-upload {
    position: fixed;
    bottom: 30px;
    right: 400px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
    border: none;
    cursor: pointer;
    z-index: 1000;
    padding: 0;
    overflow: hidden;
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.fab-upload:hover {
    background-color: #2c2c2c;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    transform: scale(1.05);
}

.fab-icon-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}