.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    width: 450px;
    height: 600px;
    padding: 42px 36px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.register-form-container h2{
    color: #ddd;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.register-form input {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #555;
    background-color: #3a3a3a;
    color: #ddd;
}

.register-form button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.register-form button:hover {
    background-color: #555;
}

.back-btn {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}

.back-btn:hover {
    background-color: #555;
}

@media (max-width: 1280px) {
    .register-form-container {
        width: 360px;
        height: auto;
        padding: 30px 24px;
        gap: 20px;
    }

    .register-form-container h2 {
        font-size: 20px;
    }

    .register-form input {
        padding: 8px;
        font-size: 14px;
    }

    .register-form button,
    .back-btn {
        padding: 8px 16px;
        font-size: 14px;
    }
}