.scan-content {
    display: flex;
    gap: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.upload-section, .info-section {
    flex: 1;
    background-color: #2e2e2e;
    color: #ddd;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.upload-section input[type="file"] {
    margin: 15px 0;
    background-color: transparent;
    color: #fff;
    border: 2px dashed #555;
    border-radius: 6px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
}

.upload-section input[type="file"]::file-selector-button {
    display: none;
}